*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main img {
    border-radius: 2em;
    margin: 0.1em;
}


body {
    background-color: rgb(232, 243, 228);
}


h1 {
    background-color: green;
    padding-left: 0.2em;
    padding-top: 0.1em;
    text-align: left;
    font-size: 3.3em;
    font-family: Arima koshi;
    line-height: 1em;
    width: 100%;
}


div {
    display: flex;
    justify-content: space-between;
}


.Titel {
    font-size: 3.7em;
    padding: 0.2em;
    padding-top: 0.4em;
    text-align: center;
}


h2 {
    font-family: Helvetica;
    font-style: oblique;
    font-size: 1.3em;
    text-align: center;
    padding: 0.3em;
    background-color: rgb(93, 200, 93)
}


main p {
    font-size: 0.75em;
    padding: 1em;
    font-family: Helvetica;
    font-style: normal;
}

section {
    display: flex;
    justify-content: space-around;    
    padding: 0.1em
}

/*FOTO'S/ICONS*/
.Intro {
    width: 48%;
    padding: 0.6em;
}

.main {
    width: 50%;
    padding: 0.8em;
    margin-bottom: 4em;
}
.waar {
    margin-top: 2em;
}

.waarom {
    margin-right: 1em;
    margin-top: 4em;
}

.wie {
    margin-top: 1em;
}


.tuin {
    max-width: 40%;
    max-height: 20%;
    margin-right: 0.5em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.bloem {
    margin-bottom: 4em;
    margin-right: 1em;
    margin-top: 1.5em;
}
/*FOTO'S/ICONS*/


article div p {
    margin-bottom: 5em;
}


/*FOOTER*/
footer {
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 1em;
}

a:hover {
    color: grey;
}

ul {
    list-style-type: none;
    display: flex;  
    justify-content: space-around;
}


li {
    font-size: x-large;
}


a {
    text-decoration: none;
    color: black;
}
/*FOOTER*/